
// unit conversions
$one-in-to-px ?= 96px

// fonts
$title-font-fam ?= 'Raleway',sans-serif
$base-font-fam ?= 'Roboto',sans-serif

$root-font-size ?= 1px
$base-font-size ?= 13rem
$base-line-height ?= 1.5

// colors
$primary-color ?= #333
$secondary-color ?= #888 // #707070
$highlight-color ?= #cd5c5c
$border-color ?= #ddd