@require './variables.styl'

$base-font-size = 13em
$base-line-height = 1.5

//$highlight-color = rosybrown
//$highlight-color = indianred
//$highlight-color = darksalmon
//$highlight-color = darkseagreen
//$highlight-color = lightseagreen
//$highlight-color = lightcoral
//$highlight-color = palevioletred
//$highlight-color = mediumaquamarine

//$highlight-color = darksalmon
$highlight-color = mediumaquamarine
//$highlight-color = goldenrod


$secondary-color = lighten($primary-color, 20%)