/** breakpoints-- same as bootstrap **/

/* phones */
$screen-xs-max ?= 767px

/* tablets */
$screen-sm-min ?= 768px
$screen-sm-max ?= 991px

/* desktop */
$screen-md-min ?= 992px
$screen-md-max ?= 1199px

/* super wild big screen */
$screen-lg-min ?= 1200px
