@require '_lib/**.styl'

/** make things printer friendly **/
@media print
    @page
        margin: 15px
    html, body
        overflow: auto
        height: auto
        
    .page .content-wrapper
        position: relative
        top: 0
        
    .preview-panel
        border: none